<h3 class='path'> 设施管理 </h3>

<table class='j_table'>
  <tr>
    <th>名称</th>
    <!--
    <th>Price</th>
    <th>Online price</th>
    <th>Price with breakfirst</th>
    <th>Breakfirst price</th>
    <th>Bed price</th>
    <th>Service price</th>
-->
    <th>数量</th>
    <th>操作</th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td><%=h room.name%></td>
    <!--
    <td><%=h room.price %></td>
    <td><%=h room.online_price %></td>
    <td><%=h room.price_with_breakfirst %></td>
    <td><%=h room.breakfirst_price %></td>
    <td><%=h room.bed_price %></td>
    <td><%=h room.service_price %></td>
    -->
    <td><%=h room.quantity %></td>
    <td><%= link_to '预览', room,:target => "_blank" %>
    <%= link_to '修改', edit_admin_room_path(room) %>
    <%= link_to '删除', admin_room_path(room), :confirm => '确信要删除?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新建设施', new_admin_room_path %>
